.bubbles-container {
  position: fixed; /* Фиксированное позиционирование */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Размещение за всеми остальными элементами */
  pointer-events: none; /* Исключение контейнера из событий мыши */
}

/* Стили для отдельного пузырька */
.bubble {
  position: absolute; /* Абсолютное позиционирование внутри контейнера */
  width: 60px;
  height: 60px;
  background-color: rgba(255, 192, 203, 0.6); /* Нежно-розовый цвет с прозрачностью */
  border-radius: 50%; /* Круглая форма */
  animation: bubbleAnimation 10s infinite ease-in-out; /* Анимация */
  transform-origin: center; /* Ось трансформации в центре */
  z-index: -1;
}

/* Анимация пузырьков */
@keyframes bubbleAnimation {
  0% {
    transform: translateY(100vh) scale(1); /* Начальное положение (снизу) и масштаб */
    opacity: 1; /* Начальная непрозрачность */
  }
  50% {
    transform: translateY(-100vh) scale(1.2); /* Средняя позиция и масштаб */
    opacity: 0.6; /* Промежуточная непрозрачность */
  }
  100% {
    transform: translateY(-200vh) scale(1); /* Конечное положение (сверху) и масштаб */
    opacity: 1; /* Исходная непрозрачность */
  }
}

.dropdown-menu {
  z-index: -1;
  position: absolute;
  top: 40px;
  right: 0;
  background-color:  rgb(48, 65, 148);
  color: #fff;
  border-radius: 5px;
  padding: 98.5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: none;
}

.dropdown-menu a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 5px 0;
}

.dropdown-menu a:hover {
  background-color: #555;
}

.user-container {
  z-index: 2;
  display: none;
  position: fixed;
  top: 10px;
  right: 10px;
  background: #465dd3;
  color: white;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.user-container img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.user-container span {
  font-size: 16px;
  font-weight: bold;
}
.auth-button {
  display: block;
  background: #7289da;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.auth-button:hover {
  background: #5b6eae;
}

body {
  z-index: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  background-color: #f5f5f5;
}

header {
  width: 100%;
  height: 50px;
  /* background-color: #484cec; */
  position: static;
  top: 0;
  z-index: 4;
  
}

.nav-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
}

nav a:hover {
  color: #7289da;
}

.auth-button {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.auth-button i {
  font-size: 24px;
}

.auth-button:hover {
  color: #7289da;
}

main {
  margin-top: 40px;
  text-align: center;
  width: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bot-container-main {
  
  width: 100%;
  background-image: url('Resources/Background.png'); /* Замените на путь к вашему изображению */
  background-size:100%;
  background-position-y: bottom, 40%;
  display:inline;
  box-sizing:border-box;
  z-index: 0;
  transform-origin: bottom;
  margin: auto;
  
}

/* При наведении на .bot-container увеличиваем его размер и тень */
.bot-container:hover {
  transform: scale(1.02); /* Небольшое увеличение масштаба */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Увеличенная тень при наведении */
}



.bot-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  background-color: white;
  margin-bottom: 40px;
  border-radius: 40px;
  padding: 30px;
  background: linear-gradient(to right, #6dbaa9, white, white 190%);
  width: 100%;
  max-width: 1000px;
  box-sizing: border-box;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Добавляем box-shadow в анимацию */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Начальная тень */
}

/* При наведении на .bot-container увеличиваем его размер и тень */
.bot-container:hover {
  transform: scale(1.02); /* Небольшое увеличение масштаба */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Увеличенная тень при наведении */
}


.bot-container-2 {
 
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background-color: white;
    margin-bottom: 40px;
    border-radius: 40px;
    padding: 30px;
    background: linear-gradient(to left, #f34e99, white, white 190%);
    width: 100%;
    max-width: 1000px;
    box-sizing: border-box;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Добавляем box-shadow в анимацию */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Начальная тень */
  
 
}

.bot-container-2:hover {
  transform: scale(1.02); /* Небольшое увеличение масштаба */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Увеличенная тень при наведении */
}



.bot-image-right {
  transform: scaleX(1); /* Отражение по горизонтали */
  width: 100%;
  max-width: 400px;
  height: auto;
  object-fit: contain;
  border-radius: 50%;
}

.bot-image-left {
  width: 100%;
  max-width: 400px;
  height: auto;
  object-fit: contain;
  border-radius: 50%;
}


.bot-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  text-align: center;
  width: 100%; /* Новое правило */
  box-sizing: border-box; /* Новое правило */
}

.bot-info h2 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 32px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.bot-info p {
  font-size: 16px;
  color: #333;
  margin: 0 20px;
}

.add-bot-button {
  margin-top: 20px;
  background-color: #6076c6;
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

.add-bot-button:hover {
  background-color: #5a6fb9;
}

/* Media Queries for Desktop */
@media (min-width: 768px) {
  .bot-container-main {
    height: 190px; /* Изменяем высоту для десктопа или других больших устройств */
  }

  .bot-container {
    flex-direction: row;
    width: calc(100% - 40px); /* Увеличение контейнера по краям */
    max-width: 1000px; /* Максимальная ширина */
    margin: 0 20px; /* Отступы по краям */
    margin-bottom: 60px;
  }
  .bot-container-2 {
    flex-direction: row; /* Для десктопа изображение справа */
    margin-bottom: 60px;
  }

  .bot-info {
    align-items: flex-start;
    margin-left: 30px;
    margin-top: 0;
    text-align: left;
  }

  .bot-info h2 {
    font-size: 52px;
  }

  .bot-info p {
    margin: 0;
  }
}

/* Media Queries for Mobile */
@media (max-width: 767px) {
  .bot-container {
    flex-direction: column;
    max-width: 100%;
    margin: 0;
    margin-bottom: 70px;
   
  }

  .bot-container-2 {
    flex-direction: column; /* Для мобильных устройств изображение сверху */
    margin-bottom: 70px;
  }

  .bot-info {
    align-items: center;
    margin-left: 0;
    margin-top: 20px;
    text-align: center;
    width: 100%; /* Новое правило */
    box-sizing: border-box; /* Новое правило */
  }

  .bot-info h2 {
    font-size: 32px;
  }

  
}
